.main{
	
	border: 2px solid blue;
	border-radius: 20px;
	
	width: 40%;
	height: 100%;

	margin: auto;
	position: relative;

	padding: 50px;
	display: inline-block;
	
	overflow: auto;
}
.done-true{
	text-decoration: line-through;
	color: red;
}
